@* <a href="/">
  <img id="logo" src="~/images/logo.png" alt="logo for application, click on routes to home page">
</a> *@

<p>@Html.ActionLink("Home", "Index", "Home")</p>

<div id="navbar">
  <a class="navButton m-2">@Html.ActionLink("Engineers", "Index", "Engineers")</a>
  <a class="navButton m-2">@Html.ActionLink("Machines", "Index", "Machines")</a>
</div>